<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
  </system.webServer>

  <appSettings>
    <add key="PYTHONPATH" value="D:\Project Aman 1\Flashcards\flashcardproject" />
    <add key="WSGI_HANDLER" value="flashapi.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="flashapi.settings" />
  </appSettings>
    <location path="" overrideMode="Deny">
        <system.webServer>
        </system.webServer>
    </location>
    <location path="" overrideMode="Allow">
        <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Admin\AppData\Local\Programs\Python\Python39\python.exe|C:\Users\Admin\AppData\Local\Programs\Python\Python39\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
        </system.webServer>
    </location>
</configuration>