<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards Page</title>
</head>
<body>
    <h1>Cards Page</h1>
    <ul>
        <li><a href="{% url 'all_questions_and_answers' %}">All Questions and Answers</a></li>
        <li><a href="{% url 'all_mcq_questions_and_answers' %}">All MCQ Questions and Answers</a></li>
        <li><a href="{% url 'all_fill_questions_and_answers' %}">All Fill Questions and Answers</a></li>
    </ul>
</body>
</html>
